<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.kongqw.bluetoothlibrary">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">


        <receiver android:name=".BluetoothManager$FoundDeviceBroadcastReceiver">
            <intent-filter>
                <!-- 添加配对请求 -->
                <!--<action android:name="android.bluetooth.device.action.PAIRING_REQUEST" />-->
                <!-- 开始扫描附近的蓝牙设备 -->
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_STARTED" />
                <!-- 结束扫描附近的蓝牙设备 -->
                <action android:name="android.bluetooth.adapter.action.DISCOVERY_FINISHED" />
                <!-- 扫描到蓝牙设备 -->
                <action android:name="android.bluetooth.device.action.FOUND" />

                <action android:name="android.bluetooth.adapter.action.STATE_CHANGED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
